@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

/* CSS reset by Josh Comeau https://www.joshwcomeau.com/css/custom-css-reset/*/
/* 1. Use a more-intuitive box-sizing model */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

/* 2. Remove default margin */
* {
  font-weight: 400;
  font-style: normal;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

:root {
  --grey: #737373;
  --white: #ffffff;
  --black: #131313;
  --pink: #CDA3D9;
  --light-green: #B2D996;
  --yellow: #ECE9C6;
  --font-family: "Chicle", serif;
  --label-text-size: 16px;
  --call-to-action-text-size: 40px;
  --subtext-size: 24px;
  --light-blue: #ACCFE3;
}

body {
  display: flex;
}

/* Left and Right side formatting (1)*/

.left-side {
  background-image: linear-gradient(to bottom right, var(--grey), var(--black));

  height: 100vh;
  width: 40vw;
}

.right-side {
  /* background-image: linear-gradient(to top right, var(--pink), var(--light-green)); */
  background-image: linear-gradient(to top right, var(--light-blue), var(--pink));
  height: 100vh;
  width: 60vw;
}

/* Left side formatting (2)*/
.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 35em;
}

.logo-name {
  font-family: var(--font-family);
  color:       var(--white);

  font-size: 60px;
  font-weight: bolder;
  margin-right: auto;
  margin-left: 1vw;
}

.slogan {
  font-family: var(--font-family);
  color:       var(--white);
  font-size:   var(--call-to-action-text-size);
}

.photo-credits {
  margin-bottom: var(--call-to-action-text-size);
  font-family:   var(--font-family);
  font-size:     var(--label-text-size);
  color:         var(--white);
}

/* Right side formatting (2)*/
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  margin-left: 5vw;
  font-size: var(--call-to-action-text-size);
}

div.hero-text {
  line-height: 1.5;
  margin-bottom: 20px;
}

.hero-text {
  margin-bottom: auto;
}

.right-side > * {
  font-family: var(--font-family);
}

form {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.form-container {
  margin-top: 20px;
  padding-left: 5vw;
  display: flex;
  gap: 7vw;
}

.form-left, .form-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* btn section (2)*/

.btn {
  margin-top: 30px;
  margin-left: 5vw;
  font-size: var(--subtext-size);
}

button {
  margin-bottom: 15px;
  padding: 10px 50px;
  background-color: var(--yellow);
  color: black;
  border-radius: 10px;
}

button:hover {
  background-color: #f5f2d1;
  cursor: pointer;
}

button:active {
  background-color: #dddabc;
}

.login {
  color: var(--yellow);
}

.login:active {
  color: #dddabc;
}

/* Form control styling */
input {
  width: 13vw;
  padding-left: 10px;
  height: 35px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.input-container {
  position: relative;
}
  
input + label {
  font-size: calc(var(--subtext-size) - 5px);
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 10px;
  transition: transform 300ms; /* Smooth transition for transformation */
  transform-origin: left; 
}

/* Pseudo-classes styling */
input:focus + label,
input:not(:placeholder-shown) + label
{
  transform: scale(0.8) translateY(-35px);
  background-color: #ece9c6c4;
  border-radius: 10px;
}

input:focus {
  outline: auto var(--pink);
  box-shadow: 0px 4px 1px black;
}

span {
  position: absolute;
  bottom: 0;
  left: 0;
}

input.invalid {
  border-radius: 10px 10px 0px 0px;
}

.error {
  width: 100%;
  padding: 0 .5em;

  font-size: 90%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}
